header{
    background-color: $colorrgb;
    top: 0px;
    .estilo_nav{
        text-align: right;
        list-style-position:unset;
        position:relative;
        bottom: 200px;
        ul :hover{
            background: #3f3634;
            border-radius: 85%;
        }
        ul{
            list-style-type: none;
            padding: 0;
            width: 90%;
            margin: 10px auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: right;
            li{
                display: inline;
                padding: 10px;
                margin: 10px;
                a{
                    color: $colorrgb3;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 30px;
                    list-style-type:upper-roman;
                }    
            }
        }
    }
}